.cally {
animation-name: ally;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes ally {
  0%   {left:230px; top:0px;}
  25%  {left:230px; top:0px;}
  50%  {left:230px; top:0px;}
  75%  {left:230px; top:0px;}
  100% {left:230px; top:0px;}
}

.mama {
animation-name: mama;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes mama {
  0%   {left:500px; top:0px;}
  25%  {left:500px; top:0px;}
  50%  {left:500px; top:0px;}
  75%  {left:500px; top:0px;}
  100% {left:500px; top:0px;}
}

.tom {
animation-name: tom;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes tom {
  0%   {left:600px; top:0px;}
  25%  {left:600px; top:0px;}
  50%  {left:600px; top:0px;}
  75%  {left:600px; top:0px;}
  100% {left:600px; top:0px;}
}

.mark {
animation-name: mark;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes mark {
  0%   {left:700px; top:0px;}
  25%  {left:700px; top:0px;}
  50%  {left:700px; top:0px;}
  75%  {left:700px; top:0px;}
  100% {left:700px; top:0px;}
}

.turkey {
animation-name: turkey;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes turkey {
  0%   {left:900px; top:0px;}
  25%  {left:900px; top:0px;}
  50%  {left:900px; top:0px;}
  75%  {left:900px; top:0px;}
  100% {left:900px; top:0px;}
}

.mei {
animation-name: mei;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes mei {
  0%   {top:-300px;}
  25%  {top:-300px;}
  50%  {top:-300px;}
  75%  {top:-300px;}
  100% {top:-300px;}
}

.crit {
animation-name: father;
animation-iteration-count: infinite;
position: relative;
animation-duration: 1s;
}

@keyframes father {
  0%   {left:800px; top:0px;}
  25%  {left:800px; top:0px;}
  50%  {left:800px; top:0px;}
  75%  {left:800px; top:0px;}
  100% {left:800px; top:0px;}
}